button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: #1d6fb6;
  padding: 0.8125rem 1.25rem;

  color: var(--text-heading);

  border-radius: 0.5rem;

  margin-left: auto;

  & img {
    width: 1.25rem;
    height: 1.25rem;

    color: white;
  }
}
