.color-wrapper {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 0.25rem;
}

.color-inner {
  width: 2.5rem;
  height: 2.5rem;

  background-color: var(--shape-button);
  border-radius: 999px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  outline: 2px solid transparent;

  input[type="radio"] {
    all: unset;
    position: absolute;
    inset: 0;
    &:checked {
      border-radius: 50%;
      outline: 2px solid var(--brand-light);
    }
    &:hover {
      border: 6px solid var(--shape-hover);
      border-radius: 50px;
    }
  }

  .circle-inner {
    width: 1.75rem;
    height: 1.75rem;

    border-radius: 999px;
  }

  .blue-color {
    background-color: #59b2ff;
  }

  .navy-color {
    background-color: #6a59ff;
  }

  .purple-color {
    background-color: #b259ff;
  }

  .fuschia-color {
    background-color: #ff59f9;
  }

  .pink-color {
    background-color: #ff598b;
  }

  .danger-color {
    background-color: #ff5959;
  }

  .orange-color {
    background-color: #ff8b59;
  }

  .yellow-color {
    background-color: #ffcd59;
  }

  .lime-color {
    background-color: #e1ff59;
  }

  .green-color {
    background-color: #59ff91;
  }

  .cyan-color {
    background-color: #59fff9;
  }
}
