input,
textarea {
  appearance: none;
  width: 100%;
  /* padding: 0.8125rem 1rem; */
  padding-inline: 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  outline: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  font: var(--body);
  color: var(--text-heading);

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    border-color: var(--brand-light);
  }
}

textarea {
  padding-block: 1rem;
}

input {
  height: 3rem;
}

label {
  display: block;
  margin-bottom: 0.75rem;

  font: var(--body-sm);
  color: var(--text-body);
}

input[type="datetime-local"] {
  color: var(--input-placeholder);
  background-image: url('calendar-icon.png');
  position: relative;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.flex {
  gap: 1rem
}